<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 ">
                <h2 class="section-heading text-center">
                    Event
                </h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Angel's Share Cafe (<a href=#map class="page-scroll">map</a>) <br>
                            No. 11號, Lane 11, Section 2, Yangde Boulevard, Shilin District, Taipei City, Taiwan 111
                        </address>
                    </dd>
                    <dt>When</dt>
                    <dd>Saturday, May 18 2019</dd>
                    
                    <dt>Attire</dt>
                    <dd>Lorem ipsum dolor sit amet</dd>
                    
                    <dt>Transportation</dt>
                    <dd>Lorem ipsum dolor sit amet</dd>
                    
                    <dt>Parking</dt>
                    <dd>Lorem ipsum dolor sit amet</dd>
                    
                    <dt>Other info</dt>
                    <dd>
                        Lorem ipsum dolor sit amet
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    
</section>


