{% load staticfiles %}
<section class="no-padding" id="navigation">
      <div class="container-fluid">
          <div class="row no-gutter">
              <div class="col-xl-4 col-lg-6">
                  <a href="#event" class="portfolio-box page-scroll">
                      <img src="{% static '../../static/images/Sinkuan_Lyoe-30.jpg' %}" class="img-fluid" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-name">
                                  The Event
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xl-4 col-lg-6">
                  <a href="#pictures" class="portfolio-box page-scroll">
                      <img src="{% static '../../static/images/Sinkuan_Lyoe-199.jpg' %}" class="img-fluid" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-name">
                                  Pictures
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xl-4 col-lg-6">
                  <a href="#story" class="portfolio-box page-scroll">
                      <img src="{% static '../static/images/Sinkuan_Lyoe-63.jpg' %}" class="img-fluid" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-name">
                                  Our Story
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
    </section>