<section class="bg-light" id="welcome" >
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-lg-2 text-center">
        <h2 class="section-heading">Welcome!</h2>
        <hr>
        <p>
            Hello family and friends!
        </p>
        
        <p>
            If you're looking for information about our big day, look no further!
            <!-- Please see below for all the details regarding <a href="#event" class="page-scroll">Friday night's welcome party</a> and <a href="#saturday-event" class="page-scroll">Saturday's event</a>. -->
        </p>
        
        <p>
            More information will be provided soon! Keep refreshing!
            <!-- To get added to the wedding whatsapp group first create an account and then click this <a href="https://chat.whatsapp.com/8yMkUG2PbAl1vJwT2Z89lK">link</a>. -->
        </p>
        <p>
            Looking forward to seeing everyone soon!
        </p>
        <p class="pull-right">- Lyoe and Sinkuan </p>
      </div>
    </div>
  </div>
</section>