<section class="bg-light" id="welcome" >
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-lg-2 text-center">
        <h2 class="section-heading">WE WOULD LOVE TO HEAR YOU SAY YES TOO!</h2>
        <hr>
        
            <p> Dear family and friends, </p>
            <p> it would be our pleasure to have you celebrate this special day with us and our families. </p>
        
        <p>
            If you are looking for more details in relation to the wedding, keep scrolling! </p>
            
            <p>We are also arranging some logistics to make your journey to the venue more convenient, so keep refreshing! 
            
        </p>
        
        <p>
            Otherwise, you can join us in our preparation by following our hashtags <a href="https://www.instagram.com/explore/tags/lyoexsinkuan/" target="_blank"> #lyoexsinkuan</a>!
            <!-- To get added to the wedding whatsapp group first create an account and then click this <a href="https://chat.whatsapp.com/8yMkUG2PbAl1vJwT2Z89lK">link</a>. -->
        </p>
        <p>
            Looking forward to seeing everyone soon!
        </p>
        <p class="pull-right">- Sinkuan and Lyoe </p>
      </div>
    </div>
  </div>
</section>